In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [82]:
df = pd.read_csv("Kenya_Schools.csv")

In [83]:
subD = df.loc[df['County'] =='NAIROBI']

In [94]:
X = subD[['Total Enrolment', 'Total Number of Classrooms']]
y = subD[['Pupil Teacher Ratio']]
X

       Total Enrolment  Total Number of Classrooms
21                 743                          16
24                   0                           0
32                1606                          24
40                  11                           1
49                  28                           2
...                ...                         ...
25915              991                          26
25959              153                           8
25966               39                           4
25968              777                          24
25977              739                          16

[1280 rows x 2 columns]