In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
%ls

 Volume in drive C is OS
 Volume Serial Number is 3C62-F0AB

 Directory of C:\Users\brian.samba\Documents\Computation Intelligence\ML\Classification

01/12/2020  16:24    <DIR>          .
01/12/2020  16:24    <DIR>          ..
01/12/2020  16:24    <DIR>          .ipynb_checkpoints
01/12/2020  16:18            46,443 data_banknote_authentication.csv
01/12/2020  09:36            46,443 data_banknote_authentication.txt
01/12/2020  09:54            12,410 LoanAgeDefault_data.xlsx
01/12/2020  09:28             9,300 seeds_dataset.txt
01/12/2020  16:24                72 Untitled.ipynb
               5 File(s)        114,668 bytes
               3 Dir(s)  129,083,076,608 bytes free

In [6]:
data = pd.read_csv("data_banknote_authentication.csv")

In [7]:
data.describe()

         Variance      Skewness     Kurtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [41]:
data.head()

   Variance   Skewness  Kurtosis  Entropy  Class
0    3.62160    8.6661   -2.8073 -0.44699      0
1    4.54590    8.1674   -2.4586 -1.46210      0
2    3.86600   -2.6383    1.9242  0.10645      0
3    3.45660    9.5228   -4.0112 -3.59440      0
4    0.32924   -4.4552    4.5718 -0.98880      0

In [56]:
#data.shape
#features = data.iloc[:,:4]
#features.shape
#target = data['Class']
#target.shape
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,:4], data['Class'], random_state=0)

In [57]:
X_train.shape
y_test.shape

(343,)

In [58]:
from sklearn.neighbors import KNeighborsClassifier

In [59]:
np.floor(np.sqrt(1372))

37.0

In [67]:
knn = KNeighborsClassifier(n_neighbors = 37)

In [68]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=37, p=2,
                     weights='uniform')

In [69]:
knn.score(X_test, y_test)

0.9854227405247813

In [70]:
from sklearn.tree import DecisionTreeClassifier