In [137]:
#Scrap Jumia for Huawei smartphones appearing on the first page

In [138]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs4

In [139]:
response = requests.get('https://www.jumia.co.ke/smartphones/huawei/')
soup = bs4(response.text, 'html.parser')

In [140]:
allItems = soup.find_all('section', attrs={"class":"card"})

In [110]:
allPhones = allItems[0].find_all('div', attrs={"class":"-paxs"})

In [126]:
myPhones = allPhones[0].find_all('article')
print(len(myPhones))

48

In [130]:
Names = []
Current_Price = []
Old_Price = []
Discount = []
Rating = []
for x in range(len(myPhones)):
    Names.append(myPhones[0].find('h3').text)
    Current_Price.append(myPhones[0].find('div', attrs={'class':'prc'}).text)
    Old_Price.append(myPhones[0].find('div', attrs={'class':'old'}).text)
    Discount.append(myPhones[0].find('div', attrs={'class':'tag'}).text)
    Rating.append(myPhones[0].find('div', attrs={'class':'stars'}).text)
df = pd.DataFrame({'SmartPhone Name': Names, 'Current Price': Current_Price, 'Old Price':Old_Price, 'Discount':Discount, 
                 'Rating': Rating})
df.to_csv('JumiaHuawei.csv', index=False, encoding='utf-8')
df.head()

,SmartPhone Name,Current Price,Old Price,Discount,Rating
0,"Huawei Y6s, 6.09"" - 3GB/64GB, 3020 MAh, 4G, Du...","KSh 13,199","KSh 16,999",22%,4.6 out of 5
1,"Huawei Y6s, 6.09"" - 3GB/64GB, 3020 MAh, 4G, Du...","KSh 13,199","KSh 16,999",22%,4.6 out of 5
2,"Huawei Y6s, 6.09"" - 3GB/64GB, 3020 MAh, 4G, Du...","KSh 13,199","KSh 16,999",22%,4.6 out of 5
3,"Huawei Y6s, 6.09"" - 3GB/64GB, 3020 MAh, 4G, Du...","KSh 13,199","KSh 16,999",22%,4.6 out of 5
4,"Huawei Y6s, 6.09"" - 3GB/64GB, 3020 MAh, 4G, Du...","KSh 13,199","KSh 16,999",22%,4.6 out of 5