In [25]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('data_banknote_authentication.csv')
df.head()

   Variance   Skewness  Kurtosis  Entropy  Class
0    3.62160    8.6661   -2.8073 -0.44699      0
1    4.54590    8.1674   -2.4586 -1.46210      0
2    3.86600   -2.6383    1.9242  0.10645      0
3    3.45660    9.5228   -4.0112 -3.59440      0
4    0.32924   -4.4552    4.5718 -0.98880      0

In [33]:
num_folds = 3
num_samples = 1372
num_features = 5
num_classes = 2
num_runs = 5
lr = 2
list_ratio = [.01,.02, .05 ,.1 ,.625, 1]

In [34]:
data_file_name = 'data_banknote_authentication.csv'